@using BusinessLogicLibrary.BusinessLogic.Ratios.Interfaces;

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ListItem list="list"></ListItem>
    </tbody>
</table>


@code {
    private List<Ratio> list = new List<Ratio>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    //protected override async Task OnParametersSetAsync()
    //{
    //    list = (await Search.ExecuteAsync(this.SearchTerm)).ToList();
    //}

}
